body {
    background-color: #000000;
}

#renderCanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 20vw;
    right: 0;
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1%;
    color: #3333cc;
}