body {
    background-color: #000000;
}

#renderCanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 22vw;
    right: 0;
    height: 100vh;
    width: 78vw;
}

#overlay {
    position: fixed;
    top: 0;
    right: 80vw;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    padding: 1%;
    color: #3333cc;
}